DATABASE_URL=
JWT_SECRET_KEY=
FRONTEND_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=
# Generate this with python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FACEBOOK_TOKEN_ENCRYPTION_KEY=
BACKEND_URL=
